<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/26154f7a-a479-4b0f-ae87-26690dfd0bd2/resourceGroups/Aplicacao/providers/Microsoft.ApiManagement/service/blockchain/apis/blockchain</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/26154f7a-a479-4b0f-ae87-26690dfd0bd2/resourceGroups/BlockChainLeonardoLab_group-9727/providers/Microsoft.Web/sites/BlockChainLeonardoLab</ResourceId>
    <ResourceGroup>BlockChainLeonardoLab_group-9727</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://blockchainleonardolab.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>00366eb6-4b4d-44aa-abd4-dbf368b2b64b</ProjectGuid>
    <PublishUrl>https://blockchainleonardolab.scm.azurewebsites.net/</PublishUrl>
    <UserName>$BlockChainLeonardoLab</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>