################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*/bin/*
*/obj/*
*/.vs/*
/.vs/BlockChain/v17/.suo
/.vs/BlockChain/FileContentIndex/19c76908-e73e-42c0-a7c3-2335ce9fbdb7.vsidx
